* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  user-select: none;
  border-radius: 4px;
  min-width: 20px;
  min-height: 20px;
  line-height: 20px;
  font-size: 16px;
  outline: solid 1px;
  border: none;
}
button:hover {
  cursor: pointer;
}
body {
  background-color: #2b2b2b;
  color: whitesmoke;
  display: flex;
  /* 使用 Flex 布局 */
  height: 100vh;
}
body nav {
  width: 15%;
  background-color: #333;
  /* 左侧栏背景颜色 */
  padding: 20px;
}
body nav h3 {
  display: flex;
  align-items: center;
}
body nav h3 span {
  padding: 0 5px;
}
body nav .add-panel-btn {
  background-color: green;
  color: greenyellow;
}
body nav .nav-content {
  margin-top: 10px;
}
body nav .nav-content .nav-item {
  user-select: none;
  background-color: #1e1e1e;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 0;
  overflow: hidden;
  transition: all 0.2s;
}
body nav .nav-content .nav-item:hover {
  margin-left: 0.2em;
  cursor: pointer;
}
body nav .nav-content .nav-item button {
  display: block;
  float: right;
  color: red;
  background-color: darkred;
}
body nav .nav-content .selected {
  box-shadow: 0 0 5px wheat;
}
body nav aside {
  line-height: 2em;
}
body nav .refresh-nav-btn {
  line-height: 1.5em;
  color: greenyellow;
  background-color: green;
  padding: 0 10px;
}
body main {
  flex: 1;
  display: flex;
  /* 使用 Flex 布局 */
  flex-wrap: wrap;
  /* 允许多行布局 */
  justify-content: space-between;
  /* 在主轴上均匀分布元素 */
}
body main textarea {
  outline: solid 1px gray;
  width: calc(33.333%);
  /* 计算每个 div 的宽度，减去 padding */
  padding: 5px;
  background-color: transparent;
  color: whitesmoke;
  line-height: 1.5em;
  font-size: 16px;
  font-family: "Microsoft YaHei", sans-serif;
  resize: none;
  transition: all 0.2s;
  /* Firefox浏览器 */
  scrollbar-width: thin;
  scrollbar-color: #666 #1e1e1e;
  /* IE浏览器 */
  scrollbar-base-color: #666;
  scrollbar-arrow-color: #eee;
}
body main textarea:focus {
  background-color: #1e1e1e;
}
body main textarea::-webkit-scrollbar {
  width: 12px;
}
body main textarea::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 6px;
}
body main textarea::-webkit-scrollbar-track {
  background-color: #1e1e1e;
}
