/**
 * 此文件中只存放 tailwindcss 不能存放的东西
 */
.scrollBar() {
  /* Firefox浏览器 */
  scrollbar-width: thin;
  scrollbar-color: #666 #1e1e1e;
  /* IE浏览器 */
  scrollbar-base-color: #666;
  scrollbar-arrow-color: #eee;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: #1e1e1e;
  }

}


body {
  nav {
    #nav-content {
      .scrollBar();
    }
  }

  main {
    textarea {
      .scrollBar();
    }
  }
}
